<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Create Playlist</title>

    <link rel="stylesheet" th:href="@{/style.css}">

</head>

<body>

<div th:replace="~{navbar :: navbar}"></div>

<h1>➕ Create Playlist</h1>

<form th:action="@{/playlist/save}"
      th:object="${playlist}"
      method="post">

    <label>Playlist Name</label>

    <br><br>

    <input type="text"
           th:field="*{name}"
           placeholder="Enter playlist name"
           required>

    <br><br>

    <button class="add-btn"
            type="submit">

        Save Playlist

    </button>

</form>

<br>

<a href="/playlists">

    <button>

        Back

    </button>

</a>

</body>

</html>