<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Add Song | MusicHub</title>

    <link rel="stylesheet" th:href="@{/style.css}">

</head>

<body>

<div th:replace="~{navbar :: navbar}"></div>

<h1>Add New Song</h1>

<form th:action="@{/song/save}"

      method="post"

      th:object="${song}">

<label>Title</label>

<input type="text"

       th:field="*{title}">

       <p class="error"
       th:if="${#fields.hasErrors('title')}"
       th:errors="*{title}">
       </p>

<br><br>

<label>Artist</label>

<input type="text"

       th:field="*{artist}">

       <p class="error"
       th:if="${#fields.hasErrors('artist')}"
       th:errors="*{artist}">
      </p>

<br><br>

<label>Album</label>

<input type="text"

       th:field="*{album}">

       <p class="error"
       th:if="${#fields.hasErrors('album')}"
       th:errors="*{album}">
       </p>

<br><br>

<label>Genre</label>

<input
    type="text"

    th:field="*{genre}">

    <p class="error"
   th:if="${#fields.hasErrors('genre')}"
   th:errors="*{genre}">
   </p>

<br><br>    

     <label>Language</label>

<input
type="text"

th:field="*{language}">

<p class="error"
   th:if="${#fields.hasErrors('language')}"
   th:errors="*{language}">
</p>

<br><br>

<label>Rating</label>

<input
    type="number"
    min="1"
    max="5"
    th:field="*{rating}">

    <p class="error"
   th:if="${#fields.hasErrors('rating')}"
   th:errors="*{rating}">
</p>

<br><br>

<label>Duration</label>

<input
    type="text"
    th:field="*{duration}"
    placeholder="Example: 3:24">

<br><br>

<label>Release Year</label>

<input
    type="number"
    th:field="*{releaseYear}"
    placeholder="Example: 2017">

    <p class="error"
   th:if="${#fields.hasErrors('releaseYear')}"
   th:errors="*{releaseYear}">
</p>

<br><br>
<label>YouTube URL</label>

<input
    type="url"
    th:field="*{youtubeUrl}"
    placeholder="https://www.youtube.com/watch?v=...">

<br><br>
<label>Spotify URL</label>

<input
    type="url"
    th:field="*{spotifyUrl}"
    placeholder="https://open.spotify.com/track/...">

<br><br>
<label>Favorite</label>

<input
    type="checkbox"
    th:field="*{favorite}">

<br><br>
<label>Lyrics</label>

<textarea
    th:field="*{lyrics}"
    rows="8"
    cols="50"
    placeholder="Enter song lyrics here...">
</textarea>

<br><br>

<label>Image URL</label>

<input
    type="text"
    th:field="*{imageUrl}">

 <br><br>   

<button type="submit">

      
Save Song

</button>

</form>

<br>

<a href="/">⬅ Back</a>

</body>

</html>