<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="navbar">

    <nav class="navbar">

        <a href="/" class="logo">
            🎵 MusicHub
        </a>
<div class="nav-links">

    <a th:href="@{/}"
       th:classappend="${activePage == 'home'} ? 'active-nav' : ''">
        🏠 Home
    </a>

    <a th:href="@{/playlists}"
       th:classappend="${activePage == 'playlists'} ? 'active-nav' : ''">
        🎵 Playlists
    </a>

    <a th:href="@{/top-rated}"
       th:classappend="${activePage == 'top-rated'} ? 'active-nav' : ''">
        ⭐ Top Rated
    </a>

    <a th:href="@{/analytics}"
   th:classappend="${activePage == 'analytics'} ? 'active-nav' : ''">
    📊 Analytics
</a>

    <a th:href="@{/favorites}"
       th:classappend="${activePage == 'favorites'} ? 'active-nav' : ''">
        ❤️ Favorites
    </a>

    <a th:href="@{/add-song}"
       th:classappend="${activePage == 'add-song'} ? 'active-nav' : ''">
        ➕ Add Song
    </a>

</div>

    </nav>

</div>

</body>

</html>