<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Playlists | MusicHub</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>

<div th:replace="~{navbar :: navbar}"></div>

<h1>🎵 My Playlists</h1>

<form th:action="@{/playlist/search}" method="get">

    <input
        type="text"
        name="keyword"
        placeholder="🔍 Search playlists...">

    <button type="submit">
        Search
    </button>

</form>
<a href="/playlist/sort/asc">

    <button>
        ⬆ Sort A-Z
    </button>

</a>

<a href="/playlist/sort/desc">

    <button>
        ⬇ Sort Z-A
    </button>

</a>

<br><br>
<br>

<div th:if="${success == 'created'}"
     class="success-message">

    ✅ Playlist created successfully!

</div>

<div th:if="${success == 'updated'}"
     class="success-message">

    ✏️ Playlist renamed successfully!

</div>

<div th:if="${success == 'deleted'}"
     class="success-message">

    🗑️ Playlist deleted successfully!

</div>
<br>

<a href="/playlist/add">
    <button class="add-btn">
        ➕ Create Playlist
    </button>
</a>
<br><br>


<a href="/">

    <button class="home-btn">

        🏠 Back to Home

    </button>

</a>
<hr>

<div th:if="${#lists.isEmpty(playlists)}"
     class="empty-state">

    <h2>🎵 No Playlists Yet</h2>

    <p>
        Create your first playlist and start organizing your favorite songs.
    </p>

    <a href="/playlist/add">

        <button class="add-btn">

            ➕ Create Playlist

        </button>

    </a>

</div>

<div class="song-card"
     th:each="playlist : ${playlists}">

    <a th:href="@{/playlist/{id}(id=${playlist.id})}">
        <h2 th:text="${playlist.name}"></h2>

        <p>

    🎶
    <span th:text="${playlist.songs.size()}"></span>
    Songs

</p>
    </a>

    <p>
        🎵 Songs :
        <span th:text="${playlist.songs.size()}"></span>
    </p>

    <p>

    ⭐ Average Rating:

    <span th:text="${#numbers.formatDecimal(playlist.averageRating,1,1)}"></span>

</p>

    <p>

    ⏱ Total Duration:

    <span th:text="${playlist.totalDuration}"></span>

</p>

    <div class="button-group">

        <a th:href="@{/playlist/edit/{id}(id=${playlist.id})}">
            <button class="edit-btn">
                ✏ Edit
            </button>
        </a>

        <form th:action="@{/playlist/delete/{id}(id=${playlist.id})}"
              method="post"
              style="display:inline;">

            <button class="delete-btn"
                    onclick="return confirm('Delete this playlist?')">
                🗑 Delete
            </button>

        </form>

    </div>

</div>

</body>
</html>