<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Playlist Details</title>

    <link rel="stylesheet" th:href="@{/style.css}">

</head>

<body>

<div th:replace="~{navbar :: navbar}"></div>

<h1 th:text="${playlist.name}"></h1>

<hr>

<div th:if="${#lists.isEmpty(playlist.songs)}">

    <h3>No songs in this playlist.</h3>

</div>

<div class="song-card"
     th:each="song : ${playlist.songs}">

   <h2 th:text="${song.title}"></h2>

<p>
    👤 <strong>Artist:</strong>
    <span th:text="${song.artist}"></span>
</p>

<p>
    💿 <strong>Album:</strong>
    <span th:text="${song.album}"></span>
</p>

<p th:if="${song.genre != null}">
    🎼 <strong>Genre:</strong>
    <span th:text="${song.genre}"></span>
</p>

<p th:if="${song.rating != null}">
    ⭐ <strong>Rating:</strong>
    <span th:text="${song.rating}"></span>
    /5
</p>

    <form th:action="@{/playlist/{playlistId}/remove-song/{songId}
        (playlistId=${playlist.id},songId=${song.id})}"
          method="post">

        <button class="delete-btn"
                onclick="return confirm('Remove this song from playlist?')">

            ❌ Remove

        </button>

    </form>

</div>

<br>

<a href="/playlists">

    <button class="add-btn">

        ← Back to Playlists

    </button>

</a>

</body>

</html>